.profile {
    position: absolute;
    left:16px;   
}

.profile_circle {
    background-color: #ffffff;
    padding: 6px 15px;
    border-radius: 50%;
    margin: 6px 0;
    border: 5px solid #cccccc70;
    cursor: pointer;
}